.mainDiv {
    padding: 0px !important;
}

.mainDiv .MuiBox-root {
    padding: 0px !important;
}

.MuiBox-root.css-vaywbt {
    /* background-image: url("../images/coming.webp"); */
    background-size: cover;
    background-color:whitesmoke;
    /* background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%) !important; */
    /* background: linear-gradient(to bottom, gray 0%, white 100%) !important; */

}
.navhead{
    background-color:white !important;
    font-weight: bold;
    flex:"100%";
    /* height: 100px; */
  

}
.barTop{
    font-size: 22px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 120px;
    font-style: initial;
}
.Home{
    padding-left: 150px;
padding-right: 44px;
    padding-top: 0px;
    padding-bottom: 20px;
font-size: 22px;    
margin-top: 20px;
}
.About{
padding-right: 44px;
}

.Works{
padding-right: 44px;
}


.Contact{
padding-right: 44px;
}
.login{
  padding-left: 130px;
}
.commingSoonImg p,
.commingSoonImg h2 {
    color: black;
}

.commingSoonImg .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: black;
    color: black;
}

.commingSoonImg form {
    margin: 0 auto;
}