/* .MuiPaper-root .MuiMenuItem-gutters {
  display: block !important;
  padding: 10px 10px;
} */

.MuiOutlinedInput-root{
    height: 45px;
    border-radius: 16px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
  top: 0;
}